<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <title>{{meta_title}}</title>

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/style.css">    
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/jquery.darkbox.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="/assets/css/jquery.darkbox.ie.css"><![endif]-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/mediaqueries.css">

    <meta name="description" content="{{meta_description}}" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}

    <script src="/assets/js/jquery.darkbox.min.js"></script>
    <script src="/assets/js/jquery.fitvids.js"></script>
    <script src="/assets/js/SmoothScroll.js"></script>
    <script src="/assets/js/trmix.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>
</html>